* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
header {
  text-align: center;
  background-size: cover;
  height: 87vh;
  background-image: url(images/donation0.jpg),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-repeat: no-repeat;
  color: white;
  justify-content: center;
}
.h-title {
  padding-top: 200px;
  font-weight: 1000;
}
.btn-donate {
  margin: 5px;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  background-color: orangered;
  color: white;
}
.today {
  text-align: center;
}
.ul {
  display: flex;
  list-style: none;
  text-align: center;
}
